- resources:
    cpu: true
    memory: true
    disk: /

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hour12: true

- immich:
    url: http://immich-server:2283
    key: YOUR_IMMICH_API_KEY
    fields: [photos, videos, storage]
